# Compiler files
cache/
out/
lib/

# Dependencies
node_modules

# IDE
.vscode
.ide/
*.swp
*.swo
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*

# Misc
.DS_Store

# Forge libs and submodules
lib/
lib/forge-std/
lib/openzeppelin-contracts/